/* Whole background image */

 html { 
    background: url(https://visittheloop.com/wp-content/uploads/2016/11/delmar-loop-at-night.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 

/* html {
    background-color: black
} */

* {
    background-color: ;
}

h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-align: center;
    padding: 10px;
    height: 75px;
    max-width: 960px;
}

h2 {
    color: white;
    font-family: cursive;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

ul {
    color: white;
    text-align: center;
    padding: 0;
}

ol {
    max-width: 960px;
}

a {
    color: white;
    margin: 5px;
    /* border: solid;
    border-radius: 5px; */
    padding: 10px;
    text-decoration: none;
}

li:first-child {
    margin-right: 0px;
    display: inline;
}

div {
    max-width: 960px;
}

.blueback {
    color: white;
    text-align: center;
}

#content {
    color: white;
    margin: 50px;
}

.container {
    margin: 150px;
    max-width: 960px;
    padding: 50px;
}

.navfont {
    text-decoration-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* position: fixed; */
    width: 100%;
}

#navigation {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 223px;
}



#navigation>ul>li {
    display: inline;
    position: relative;
    left: 0;
    top: 0;
}

#navigation>ul>li>ul {
    position: fixed;
    display: none;
    background-color: #535353;
    top: 50px;
    left: 770px;
}

#navigation > ul > li:hover > ul {
    display: block;
}

form {
    text-align: center;
    color: white;
}

.homeimg {
    margin-left: 300px;
}

.header {
    background-color: white;
    padding-top: 141px;
    background-color: black;
}



