/* Margin - top right bottom left */

* {
    background-color: ;
    }

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 45px;
    text-align: center;
    margin: 15px;
    padding: 10px;
    height: 75px;
    max-width: 960px;
}

h2 {
    color:black;
    font-family: cursive;
}

h3 {
    background-color:darkslateblue;
}

p {
    color: aqua;
    background-color: #ff69b4
}


ul {
    text-align: left;
    padding: 0;
}

ol {
    max-width: 960px;
}

#navigation li {
    color: #ff69b4;
    display: inline;
}

li:first-child {
    margin-right: 25px;
}

.blueback {
    color: navy;
}


#content {
    color: navy;
}

.container {
    margin: 50px;
    max-width: 960px;
    padding: 50px;
}

.navfont {
    text-decoration-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}