/* Whole background image */

html {
    /* background: url(https://visittheloop.com/wp-content/uploads/2016/11/delmar-loop-at-night.jpg) no-repeat center center fixed; */
    background-image: auto(white, black);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    font-family: 'Contrail One', cursive;
}

#root {
    display: grid;
    grid-template-areas: "navigation" "header" "content" "footer";
    grid-template-rows: min-content min-content auto min-content;
    min-height: 100vh;
}

h1 {
    color: black;
    font-size: 45px;
    text-align: center;
    /* padding: 30px; */
}

h2 {
    color: black;
    text-align: center;
}

p {
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 50px;
    border: solid;
    border-radius: 5px;

}

ul {
    color: black;
    text-align: center;
    padding: 0;
}

ol {
    max-width: 960px;
}

a {
    color: white;
    font-size: 25px;
    margin: 5px;
    /* border: solid;
    border-radius: 5px; */
    padding: 10px;
    text-decoration: none;
}

li:first-child {
    margin-right: 0px;
    /* display: inline; */
}

.apply {
    margin: auto;
}

.blueback {
    color: black;
    text-align: center;
}

.proj {
    margin: auto
}

.linq {
    color:white;
}

.projList {
    color: black;
}

#content {
    color: black;
    grid-area: content;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.navfont {
    color: black;
    text-decoration-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* position: fixed; */
    width: 100%;
}

#imgdiv {
    display: flex;
    justify-content: center;
}

#navigation {
    background-color: black;
    /* display: flex; */
    top: 0;
    left: 0;
    width: 100%;
    position: sticky;
    top: 0px;
    grid-area: navigation;

}

#navigation>ul>li {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    /* display: flex;
    justify-content: space-around; */
}

#navigation>ul>li>ul {
    display: none;
    top: 50px;
    left: 10px;
}

#navigation>ul>li:hover>ul {
    display: block;
}

form {
    text-align: center;
    color: black;
}

img {
    display: flex;
    justify-content: center;
    height: 415px;
    width: 415px;
}


#header {
    display: flex;
    font-size: 25px;
    justify-content: center;
}

#footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: black; 
}

#navigation>ul {
    display: flex;
    justify-content: space-around;
}

@media(min-width: 800px) {
    #root {
        grid-template-areas: "navigation  header" "navigation  content" "navigation  footer";
        /* grid-template-rows: min-content auto min-content; */
        grid-template-columns: minmax(min-content, 15vw) auto;
    }
    #navigation>ul {
        flex-direction: column;
    }
}